.footer {
  background-color: var(--red-background-color);
  bottom: 0;
  position: relative;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.divTeam {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.team {
  color: var(--white-text-color);
  margin: 0;
  font-family: Aquawax Medium Trial;
}

.divCopyright {
  color: var(--white-text-color);
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.copyrightLogo {
  margin-right: 0.3rem;
}

.copyrightText {
  margin: 0;
  font-family: Aquawax Medium Trial;
  margin-right: 0.3rem;
}